name: Build Database Package

on:
  workflow_dispatch:

jobs:
  package-db:
    runs-on: ubuntu-latest

    env:
      PACKAGE_NAME: database

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate version number (YY.1.buildNumber)
        id: version
        run: |
          YEAR=$(date +'%y')
          VERSION="${YEAR}.1.${{ github.run_number }}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # ------------------------------
      # Create database ZIP package
      # ------------------------------
      - name: Zip src/Database directory
        run: |
          mkdir -p build
          zip -r build/${PACKAGE_NAME}-${VERSION}.zip src/Database

      # ------------------------------
      # Push package to Octopus Deploy
      # ------------------------------
      - name: Push Database Package to Octopus Deploy
        uses: OctopusDeploy/push-package-action@v3.0.4
        with:
          packages: |
            build/${{ env.PACKAGE_NAME }}-${{ env.VERSION }}.zip
          api_key: ${{ secrets.OCTOPUS_API_KEY }}
          server: ${{ secrets.OCTOPUS_URL }}
          space: ${{ secrets.OCTOPUS_SPACE_ID }}
          overwrite_mode: OverwriteExisting

      # ------------------------------
      # Push Build Information to Octopus Deploy
      # ------------------------------
      - name: Push Build Information to Octopus Deploy
        uses: OctopusDeploy/push-build-information-action@v3
        with:
          packages: |
            ${{ env.PACKAGE_NAME }}
          version: ${{ env.VERSION }}
          api_key: ${{ secrets.OCTOPUS_API_KEY }}
          server: ${{ secrets.OCTOPUS_URL }}
          space: 'Spaces-63'
